fastapi
uvicorn
joblib
pandas
numpy
scikit-learn
psycopg2
sqlalchemy
mlflow
prometheus-client
scipy
watchdog
docker
matplotlib
seaborn
airflow
requests
tensorflow
pydantic
pytest
httpx
loguru
dotenv
gunicorn
black
isort
flake8
